<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <div class="welcome">
        #{msgs.loginWelcome}
        <div class="welcomeImage">
            <h:graphicImage library="images" name="Saturn.gif" />
        </div>
    </div>
</ui:composition>
