<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <div
        class='#{name == planetarium.selectedPlanet ?
                 "planetImageSelected" : "planetImage"}'>
        <h:commandLink action="#{planetarium.changePlanet(name)}">
            <h:graphicImage value="#{image}" />
        </h:commandLink>
        <ui:insert name="content1" />
    </div>
</ui:composition>
