<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:kenfogel="http://kenfogel.com/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition>
            <h:form>
                <kenfogel:planet name="mercury"
                                 image="#{resource['images:Mercury.gif']}" />
                <kenfogel:planet name="venus" image="#{resource['images:Venus.gif']}" />
                <kenfogel:planet name="earth" image="#{resource['images:Earth.gif']}" />
                <kenfogel:planet name="mars" image="#{resource['images:Mars.gif']}" />
                <kenfogel:planet name="jupiter"
                                 image="#{resource['images:Jupiter.gif']}" />
                <kenfogel:planet name="saturn"
                                 image="#{resource['images:Saturn.gif']}" />
                <kenfogel:planet name="uranus"
                                 image="#{resource['images:Uranus.gif']}" />
                <kenfogel:planet name="neptune"
                                 image="#{resource['images:Neptune.gif']}" />
            </h:form>
        </ui:composition>
    </body>
</html>
