<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/masterLayout.xhtml">
    <ui:define name="windowTitle">
        #{msgs.mars}
    </ui:define>

    <ui:define name="content">
        Scientists believe that life may have existed on Mars in the past.
    </ui:define>
</ui:composition>
