<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/masterLayout.xhtml">
    <ui:define name="windowTitle">
        #{msgs.mercury}
    </ui:define>

    <ui:define name="content">
        Mercury is the closest planet to the sun.
    </ui:define>
</ui:composition>
