<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/masterLayout.xhtml">
    <ui:define name="windowTitle">
        #{msgs.neptune}
    </ui:define>

    <ui:define name="content">
        Neptune was the first planet found by mathematical prediction rather than by empirical observation.
    </ui:define>
</ui:composition>
