<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/templates/masterLayout.xhtml">
    <ui:define name="windowTitle">
        #{msgs.uranus}
    </ui:define>

    <ui:define name="content">
        Uranus is the first planet that was discovered by use of a telescope.
    </ui:define>
</ui:composition>
